{% extends "base.html" %} {% block content%}
<style>
    table, th, td {
        border: 1px solid;
      }
    th{
        background-color: aqua;
    }
    td{
        background-color: coral;
    }
    p{
        font-size: 70px;
        color: aquamarine;
    }
</style>
<header>
    <h1>Info</h1>
</header>
<p>Info page</p>
<p>icode</p>
<table>

    <tr>
        <th>Doom at your service</th>
        <td>K-Drama</td>
    </tr>
    <tr>
        <th>
            My demon
        </th>
        <td>K-Drama</td>
    </tr>
</table>
{% endblock content %}